.ant-custom-dashboard {
	aside.ant-layout-sider {
		overflow: auto;
		height: 100vh;
		position: fixed;
		left: 0;
		&.ant-custom-hidden-sider,
		&.ant-custom-hidden-sider .ant-layout-sider-trigger {
			display: none;
		}
		&.ant-custom-hidden-sider + section.ant-layout {
			margin-left: 0px!important;
		}
	}
}
