$antCardHead: 56px;
.ant-custom-statistics-dashboard {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-y: scroll;
	> * {
		flex: 1;
	}
	@media only screen and (max-width: 992px) {
		.ant-row,
		[class^="ant-row"] {
			padding: 0px 0px 12px 12px;
			.ant-col:not(:first-child) {
				padding-top: 12px;
			}
		}
	}
	@media only screen and (min-width: 993px) {
		.ant-row,
		[class^="ant-row"] {
			padding: 12px;
		}
	}
	.ant-row-flex {
		flex-grow: 1;
		.ant-col {
			display: flex;
			flex-grow: 1;
		}
	}
	#expensesCharts {
		.ant-card-body {
			.ant-card-grid:first-child {
				margin-bottom: 15px;
			}
		}
	}
	#superlativeStatistics {
		padding: 0;
		> {
			:first-child {
				align-items: flex-start;
			}
			:last-child {
				align-items: flex-end;
			}
		}
	}
	.ant-card {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		.ant-card-head {
			height: $antCardHead;
		}
		.ant-card-body {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.ant-spin-nested-loading {
				width: 100%;
			}
		}
	}
	.ant-tabs {
		.ant-tabs-bar {
			border: none;
		}
		.ant-tabs-extra-content {
			margin-left: 12px;
		}
	}
	.ant-custom-warning-col {
		padding: 12px;
		.ant-alert {
			width: 100%;
		}
	}
}
