.antd-custom-history-dashboard {
	height: 100%;
	width: 100%;
	> .ant-row {
		height: 100%;
		> .ant-card {
			height: 100%;
			.ant-card-body {
				height: 100%;
				> :first-child {
					height: 60px;
				}
				> :last-child {
					height: calc(100% - 60px);
				}
			}
		}
	}
	.ant-table-wrapper {
		&,
		& > div,
		& > div > div,
		.ant-table .ant-table-content,
		.ant-table .ant-table-scroll {
			height: 100%;
		}
		.ant-table {
			height: calc(100% - 64px);
		}
	}
	.ant-tabs {
		.ant-tabs-bar {
			border: none;
		}
	}
}
