.antd-custom-statisticCard {
	height: 135px;
	display: flex;
	width: 100%;
	.ant-card {
		height: 100%;
		.ant-card-body {
			padding: 12px;
			height: 100%;
			.ant-divider.ant-divider-horizontal {
				margin: 12px 0;
			}
			.ant-statistic {
				display: flex;
				flex-direction: column;
				&.antd-custom-statisticCard-noMoreData {
					height: 100%;
					.ant-statistic-content {
						flex: 2;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
	}
	.antd-custom-statisticCard-rise {
		color: '#cf1322'
	}
	.antd-custom-statisticCard-fall {
		color: '#3f8600'
	}
}