.ant-custom-not-found {
	*,
	:before,
	:after {
		box-sizing: border-box;
	}
	display: flex;
	align-items: center;
	background: #f0f2f5;
	min-width: 275px;
	height: calc(100% + 48px);
	width: calc(100% + 48px);
	margin: -24px;
	overflow: hidden;
	color: #138ff2;
	justify-content: center;
}
